body {
    background-color: coral;
    text-align: center;
    font-family: Arial ;
}

h1{
    text-transform: uppercase;
    font-weight: 800;
}

p{
    font-weight: 450;
}

#first{
    color: burlywood;
}

#second{
    color: aquamarine;
}

#third{
    color: chartreuse;

}

#enter{
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
    color: #04A1BF;
    background-color: #025F70;
    transition: all 1s

}
#enter:hover{
    background-color: darkorchid;
    color: darkorange;
    ease;
    -webkit-transition: all 1s
    ease;
    -moz-transition: all 1s
    ease;
    -ms-transition: all 1s
    ease;
    -o-transition: all 1s
    ease;
    font-weight: normal;

}